<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongfang.mybatis.spring.dao.EmployeeMapper">
    <select id="getEmployeeById" parameterType="java.lang.Integer" resultType="com.dongfang.mybatis.spring.bean.Employee">
        select id, last_name lastName, gender, email from t_employee where id = #{id}
    </select>

    <select id="getAllEmps" resultType="com.dongfang.mybatis.spring.bean.Employee">
        select id, last_name lastName, gender, email from t_employee
    </select>
</mapper>